body{
  width: 100%;
  margin: 0;
  background-color: rgb(223, 205, 183);
  color: white;
  font-family: sans-serif;
  position: relative;
}
.active{
  background-color: burlywood;
  color: black;
}
.home{
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* icons */
.icons{
  width: 80%;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon-img{
  width: 23%;
  height: 80%;
  text-align: center;
  color: rgb(58, 10, 10);
  margin: auto;
  border: 2px solid rgb(58, 10, 10);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.icon-img h5{
  position: absolute;
  bottom: 0;
}
.icons img{
  width: 60%;
  object-fit: cover;
}