body{
  width: 100%;
  margin: 0;
  background-color: burlywood;
  color: white;
  font-family: sans-serif;
  position: relative;
}
.active{
  background-color: burlywood;
  color: black;
}
.home{
  width: 90%;
  margin: auto;
  
}

/* icons */
.icons{
  width: 100%;
  height: 100px;
  background-color: black;
}
